<configuration debug="true">

    <!-- For ELK-Stack: Kafka log's host -->
    <property name="LOGS_KAFKA_HOSTS" value="${BOOTSTRAP_SERVERS:-localhost:9094}"/>

    <!-- For ELK-Stack: Kafka log's topic -->
    <property name="LOGS_KAFKA_TOPIC" value="${LOGS_KAFKA_TOPIC:-flashcards-logs}"/>

    <!-- For log files: App name -->
    <property name="SERVICE_NAME" value="${SERVICE_NAME:-flashcards}"/>

    <!-- Log level for packages "com.gitlab.sszuev.*" -->
    <property name="APP_LOG_LEVEL" value="${APP_LOG_LEVEL:-info}"/>

    <!-- Log level for other packages -->
    <property name="COMMON_LOG_LEVEL" value="${COMMON_LOG_LEVEL:-error}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level[%marker] %logger{36} [%mdc] - %msg%n</pattern>
        </encoder>
    </appender>

    <if condition='!property("LOGS_KAFKA_HOSTS").equals("LOGS_KAFKA_HOSTS_IS_UNDEFINED") &amp;&amp; !property("LOGS_KAFKA_HOSTS").isEmpty()'>
        <then>
            <appender name="asyncLogKafka" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
                <appender name="kafkaVerboseAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
                    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                        <providers>
                            <timestamp/>
                            <version/>
                            <pattern>
                                <pattern>
                                    {
                                    "component": "${SERVICE_NAME}",
                                    "container-id": "${HOSTNAME}"
                                    }
                                </pattern>
                            </pattern>
                            <message/>
                            <loggerName/>
                            <threadName/>
                            <logLevel/>
                            <logstashMarkers/>
                            <callerData/>
                            <stackTrace/>
                            <context/>
                            <mdc/>
                            <logstashMarkers/>
                            <arguments/>
                            <tags/>
                        </providers>
                    </encoder>
                    <topic>${LOGS_KAFKA_TOPIC}</topic>
                    <deliveryStrategy
                            class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>
                    <producerConfig>bootstrap.servers=${LOGS_KAFKA_HOSTS}</producerConfig>
                </appender>
            </appender>
        </then>
    </if>


    <if condition='!property("LOGS_KAFKA_HOSTS").equals("LOGS_KAFKA_HOSTS_IS_UNDEFINED") &amp;&amp; !property("LOGS_KAFKA_HOSTS").isEmpty()'>
        <then>
            <logger name="com.gitlab.sszuev" level="${APP_LOG_LEVEL}" additivity="false">
                <appender-ref ref="STDOUT"/>
                <appender-ref ref="asyncLogKafka"/>
                <appender-ref ref="kafkaVerboseAppender"/>
            </logger>
        </then>
        <else>
            <logger name="com.gitlab.sszuev" level="${APP_LOG_LEVEL}" additivity="false">
                <appender-ref ref="STDOUT"/>
            </logger>
        </else>
    </if>

    <if condition='!property("LOGS_KAFKA_HOSTS").equals("LOGS_KAFKA_HOSTS_IS_UNDEFINED") &amp;&amp; !property("LOGS_KAFKA_HOSTS").isEmpty()'>
        <then>
            <root level="${COMMON_LOG_LEVEL}">
                <appender-ref ref="STDOUT"/>
                <appender-ref ref="asyncLogKafka"/>
                <appender-ref ref="kafkaVerboseAppender"/>
            </root>
        </then>
        <else>
            <root level="${COMMON_LOG_LEVEL}">
                <appender-ref ref="STDOUT"/>
            </root>
        </else>
    </if>
</configuration>
