<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">

    <!-- For ELK-Stack: Kafka log's host -->
    <property
            name="LOGS_KAFKA_HOSTS"
            value="${BOOTSTRAP_SERVERS:-LOGS_KAFKA_HOSTS_IS_UNDEFINED}"
    />

    <!-- For ELK-Stack: Kafka log's topic -->
    <property
            name="LOGS_KAFKA_TOPIC"
            value="${LOGS_KAFKA_TOPIC:-flashcards-logs}"
    />

    <!-- For log files: App name -->
    <property
            name="SERVICE_NAME"
            value="${SERVICE_NAME:-flashcards}"
    />

    <!-- Log level for packages "com.gitlab.sszuev.*" -->
    <property
            name="APP_LOG_LEVEL"
            value="${APP_LOG_LEVEL:-info}"
    />

    <!-- Log level for other packages -->
    <property
            name="COMMON_LOG_LEVEL"
            value="${COMMON_LOG_LEVEL:-error}"
    />


    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level[%marker] %logger{36} [%mdc] - %msg%n</pattern>
        </encoder>
    </appender>


    <condition class="ch.qos.logback.core.boolex.ExpressionPropertyCondition">
        <expression>
            !propertyEquals("LOGS_KAFKA_HOSTS", "LOGS_KAFKA_HOSTS_IS_UNDEFINED")
            &amp;&amp;
            !propertyEquals("LOGS_KAFKA_HOSTS", "")
        </expression>
    </condition>

    <if>
        <then>

            <appender name="kafkaVerboseAppender"
                      class="com.github.danielwegener.logback.kafka.KafkaAppender">

                <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                    <providers>
                        <timestamp/>
                        <version/>
                        <pattern>
                            <pattern>
                                {
                                "component": "${SERVICE_NAME}",
                                "container-id": "${HOSTNAME}"
                                }
                            </pattern>
                        </pattern>
                        <message/>
                        <loggerName/>
                        <threadName/>
                        <logLevel/>
                        <logstashMarkers/>
                        <callerData/>
                        <stackTrace/>
                        <context/>
                        <mdc/>
                        <arguments/>
                        <tags/>
                    </providers>
                </encoder>

                <topic>${LOGS_KAFKA_TOPIC}</topic>

                <deliveryStrategy
                        class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>

                <producerConfig>
                    bootstrap.servers=${LOGS_KAFKA_HOSTS}
                </producerConfig>
            </appender>


            <appender name="asyncLogKafka"
                      class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
                <appender-ref ref="kafkaVerboseAppender"/>
            </appender>


            <logger name="com.gitlab.sszuev"
                    level="${APP_LOG_LEVEL}"
                    additivity="false">
                <appender-ref ref="STDOUT"/>
                <appender-ref ref="asyncLogKafka"/>
            </logger>

            <root level="${COMMON_LOG_LEVEL}">
                <appender-ref ref="STDOUT"/>
                <appender-ref ref="asyncLogKafka"/>
            </root>

        </then>

        <else>

            <logger name="com.gitlab.sszuev"
                    level="${APP_LOG_LEVEL}"
                    additivity="false">
                <appender-ref ref="STDOUT"/>
            </logger>

            <root level="${COMMON_LOG_LEVEL}">
                <appender-ref ref="STDOUT"/>
            </root>

        </else>
    </if>

</configuration>