<div th:fragment="card-dialog-modal" class="modal fade" id="card-dialog" tabindex="-1"
     aria-labelledby="card-dialog-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="card-dialog-label">edit word</h5>
                <div class="btn-group ms-auto">
                    <button id="card-dialog-fullscreen-btn" type="button" aria-label="Fullscreen">
                        <i class="bi bi-arrows-fullscreen"></i>
                    </button>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="accordion" id="card-dialog-accordion">
                    <div class="accordion-item" id="card-dialog-accordion-item-i1">
                        <h2 class="accordion-header" id="card-dialog-heading-i1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#card-dialog-collapse-i1"
                                    aria-expanded="true"
                                    aria-controls="card-dialog-collapse-i1">
                                Word #1
                            </button>
                        </h2>
                        <div id="card-dialog-collapse-i1" class="accordion-collapse collapse show"
                             aria-labelledby="card-dialog-heading-i1"
                             data-bs-parent="card-dialog-accordion">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span style="width: 120px" class="input-group-text"
                                                  id="card-dialog-word-sizing-sm-i1">word</span>
                                        </div>
                                        <input type="text"
                                               class="form-control word"
                                               aria-label="word"
                                               aria-describedby="card-dialog-word-sizing-sm-i1"/>
                                        <div class="input-group-append">
                                            <button th:insert="speaker.html :: svg"
                                                    type="button"
                                                    class="sound btn btn-secondary sound" disabled></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend d-flex align-items-stretch">
                                            <span style="width: 120px" class="input-group-text"
                                                  id="card-dialog-translation-sizing-sm-i1">translation</span>
                                        </div>
                                        <textarea rows="1"
                                                  class="form-control translation"
                                                  aria-label="translation"
                                                  aria-describedby="card-dialog-translation-sizing-sm-i1"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span style="width: 120px" class="input-group-text"
                                                  id="card-dialog-transcription-sizing-sm-i1">transcription</span>
                                        </div>
                                        <input type="text"
                                               class="form-control transcription"
                                               aria-label="transcription"
                                               aria-describedby="card-dialog-transcription-sizing-sm-i1"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend d-flex align-items-stretch">
                                            <span style="width: 120px" class="input-group-text">part of speech</span>
                                        </div>
                                        <select class="form-select part-of-speech" aria-label="Select part of speech">
                                            <option value="-1"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend d-flex align-items-stretch">
                                            <span style="width: 120px" class="input-group-text"
                                                  id="card-dialog-examples-sizing-sm-i1">examples</span>
                                        </div>
                                        <textarea rows="1" class="form-control examples"
                                                  aria-label="examples"
                                                  aria-describedby="card-dialog-examples-sizing-sm-i1"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span style="width: 120px" class="input-group-text"
                                                  id="card-dialog-primary-sizing-sm-i1">primary</span>
                                        </div>
                                        <div class="input-group-text">
                                            <input class="form-check-input mt-0 primary-word" type="checkbox"
                                                   aria-describedby="card-dialog-primary-sizing-sm-i1"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row links">
                                    <div class="card-header">
                                        <h6 class="mb-0 gl-link"></h6>
                                    </div>
                                    <div class="card-header">
                                        <h6 class="mb-0 ya-link"></h6>
                                    </div>
                                    <div class="card-header d-flex justify-content-between"
                                         id="card-dialog-lg-header-i1">
                                        <h6 class="mb-0 lg-link"></h6>
                                        <h6 class="mb-0">
                                            <button class="btn btn-link lg-link-collapse"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#card-dialog-lg-collapse-i1"
                                                    aria-expanded="false"
                                                    aria-controls="#card-dialog-lg-collapse-i1">
                                                <i class="bi bi-caret-down-fill"></i>
                                            </button>
                                        </h6>
                                    </div>
                                    <div id="card-dialog-lg-collapse-i1" class="collapse lg-link-collapse"
                                         aria-labelledby="card-dialog-lg-header-i1">
                                        <div class="card-body" style="overflow: auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group ms-auto">
                                <button type="button" aria-label="Add word" class="add-word">
                                    <i class="bi bi-plus"></i>
                                </button>
                                <button type="button" aria-label="Remove word" style="display: none;"
                                        class="remove-word">
                                    <i class="bi bi-dash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="card-dialog-save" type="button" class="btn btn-primary" disabled>Save</button>
            </div>
        </div>
    </div>
</div>