<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="/webjars/bootstrap/5.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.5/js/bootstrap.min.js"></script>
    <script src="/webjars/keycloak-js/25.0.4/dist/keycloak.min.js"></script>
    <script src="/static/utilities.3.js"></script>
    <script src="/static/data.5.js"></script>
    <script src="/static/api.6.js"></script>
    <script src="/static/tables.2.js"></script>
    <script src="/static/dictionaries.5.js"></script>
    <script src="/static/cards.4.js"></script>
    <script src="/static/tutor.4.js"></script>
    <script src="/static/main.1.js"></script>
    <title>opentutor</title>
</head>
<style>
    .table-header-sticky th {
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
        z-index: 2;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
        overflow-wrap: break-word;
        white-space: normal;
        border-collapse: collapse;
        height: 20px;
    }

    .table th, .table td {
        text-align: left;
        padding: 8px 12px;
        min-height: 20px;
        white-space: normal;
        vertical-align: top;
        line-height: 1.5;
        word-break: break-word;
    }

    .table-container {
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 20px;
    }
</style>
<header th:insert="header.html :: header"></header>
<script th:inline="javascript">
    const devMode = [[${devMode}]];
    const keycloakAuthURL = [[${keycloakAuthURL}]];
    const keycloakAppRealm = [[${keycloakAppRealm}]];
    const keycloakAppClient = [[${keycloakAppClient}]];
    const defaultNumberOfRightAnswers = [[${numberOfRightAnswers}]];
    const languages = [[${languages}]];
</script>
<body onload="renderPage()">
<div id="dictionaries" class="page card container container-table"
     style="user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; ">
    <div class="card-body">
        <h1 class="card-title">opentutor</h1>
        <div id="dictionaries-table-row" class="row table-container">
            <table class="table">
                <thead class="table-header-sticky">
                <tr>
                    <th scope="col" style="width: 28%;">Dictionary name</th>
                    <th scope="col" style="width: 19%;">Source language</th>
                    <th scope="col" style="width: 19%;">Target language</th>
                    <th scope="col" style="width: 16%;">Total number of words</th>
                    <th scope="col" style="width: 18%;">Number of learned words</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="row d-grid p-3">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input value="&nbsp;" type="text" class="invisible"/>
        </div>
        <div class="row">
            <div id="dictionaries-btn-group" class="btn-group" role="group" aria-label="Dictionaries group">
                <button id="dictionaries-btn-run" type="button" class="btn btn-secondary" disabled>Run</button>
                <button id="dictionaries-btn-cards" type="button" class="btn btn-secondary" disabled>Cards</button>
                <button id="dictionaries-btn-add" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#add-dictionary-dialog">Create
                </button>
                <button id="dictionaries-btn-edit" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#edit-dictionary-dialog">Edit
                </button>
                <button id="dictionaries-btn-delete" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#delete-dictionary-prompt" disabled>Delete
                </button>
                <div class="dropdown" style="flex: 1 1 0;">
                    <button id="dictionaries-btn-download" type="button" class="btn btn-secondary"
                            style="width: 100%; border-radius: 0; flex-grow: 1;" disabled>Download
                    </button>
                    <ul class="dropdown-menu" id="dictionaries-btn-download-options" style="width: 100%; flex-grow: 1;">
                        <li><a class="dropdown-item" href="#" id="dictionaries-btn-download-option-json">JSON</a></li>
                        <li><a class="dropdown-item" href="#" id="dictionaries-btn-download-option-xml">Lingvo-XML</a>
                        </li>
                    </ul>
                </div>
                <label id="dictionaries-btn-upload-label" for="dictionaries-btn-upload"
                       class="btn btn-secondary btn-file-upload">Upload</label>
                <input id="dictionaries-btn-upload" type="file" style="display: none;"/>
                <button id="dictionaries-btn-settings" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#settings-modal">Settings
                </button>
            </div>
        </div>
    </div>
</div>
<div id="words" class="page card container container-table" style="display: none;">
    <div class="card-body">
        <h1 id="words-title" class="card-title">dictionary</h1>
        <div id="words-table-row" class="row table-container">
            <table class="table">
                <thead class="table-header-sticky">
                <tr>
                    <th scope="col" style="width: 15%;">Word</th>
                    <th scope="col" style="width: 77%;">Translation</th>
                    <th scope="col" style="width: 8%; white-space: nowrap;">Status, %</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="row d-grid p-3">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input id="words-search" type="text"/>
        </div>
        <div class="row">
            <div id="words-btn-group" class="btn-group" role="group" aria-label="Cards group">
                <button id="words-btn-add" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#card-dialog" disabled>Add
                </button>
                <button id="words-btn-edit" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#card-dialog" disabled>Edit
                </button>
                <button id="words-btn-reset" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#reset-card-prompt" disabled>Reset status
                </button>
                <button id="words-btn-delete" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#delete-card-prompt" disabled>Delete
                </button>
            </div>
        </div>
    </div>
</div>
<div th:replace="dictionary-dialog.html :: dictionaryDialog(id='add')"></div>
<div th:replace="dictionary-dialog.html :: dictionaryDialog(id='edit')"></div>
<div th:replace="prompt.html :: prompt(id='delete-dictionary')"></div>
<div th:insert="card-dialog.html :: card-dialog-modal"></div>
<div th:replace="prompt.html :: prompt(id='delete-card')"></div>
<div th:replace="prompt.html :: prompt(id='reset-card')"></div>
<div th:insert="settings-dialog.html :: settings-modal"></div>

<div id="show" class="page card container container-table" style="display: none;">
    <div class="card-body">
        <h6 class="card-title">flashcards:</h6>
        <div class="row">
            <div class="d-flex align-items-center justify-content-between">
                <div><h1 class="word">word</h1></div>
                <div>
                    <h6 class="status"></h6>
                    <button th:insert="speaker.html :: svg" id="show-card-sound" type="button"
                            class="sound btn btn-secondary" disabled></button>
                </div>
            </div>
        </div>
        <div class="row">
            <h6 class="translations">translations</h6>
        </div>
        <div class="row">
            <h6 class="examples"></h6>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between">
                <button id="know" class="d-flex w-100 justify-content-start"><h4>know</h4></button>
                <button id="show-next" class="d-flex w-100 justify-content-end"><h4>next</h4></button>
            </div>
        </div>
    </div>
</div>
<div id="self-test" class="page card container container-table" style="display: none;">
    <div class="card-body">
        <h6 class="card-title">flashcards:</h6>
        <div class="row">
            <div class="d-flex align-items-center justify-content-between">
                <div><h1 class="word">word</h1></div>
                <div>
                    <h6 class="status"></h6>
                    <button th:insert="speaker.html :: svg" id="self-test-card-sound" type="button"
                            class="sound btn btn-secondary" disabled></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="self-test-display-translation">
                <button class="d-flex align-items-center p-5 w-100"><h6>display translation</h6></button>
            </div>
            <h6 class="translations p-5 w-100" style="display: none;">translations</h6>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between">
                <button id="self-test-correct" class="d-flex w-100 justify-content-start"><h4>correct</h4></button>
                <button id="self-test-wrong" class="d-flex w-100 justify-content-end"><h4>wrong</h4></button>
            </div>
        </div>
    </div>
</div>
<div id="mosaic" class="page card container container-table" style="display: none;">
    <div class="card-body">
        <h6 class="card-title">flashcards:</h6>
        <div class="card-group">
            <div id="mosaic-left" class="card justify-content-center"></div>
            <div id="mosaic-right" class="card"></div>
        </div>
    </div>
</div>
<div id="options" class="page card container container-table" style="display: none;">
    <div class="card-body">
        <h6 class="card-title">flashcards:</h6>
        <div class="card-group">
            <div id="options-left" class="card justify-content-center"></div>
            <div id="options-right" class="card"></div>
        </div>
    </div>
</div>
<div id="writing" class="page card container container-table" style="display: none;">
    <div class="card-body">
        <h6 class="card-title">flashcards:</h6>
        <div class="row">
            <div class="d-flex align-items-center justify-content-between">
                <div><h1 class="word">word</h1></div>
                <div>
                    <h6 class="status"></h6>
                    <button th:insert="speaker.html :: svg" id="writing-card-sound" type="button"
                            class="sound btn btn-secondary" disabled></button>
                </div>
            </div>
        </div>
        <div class="row" id="writing-textarea"></div>
        <div id="writing-test" class="row" style="display: none;">
            <button class="d-flex align-items-end flex-column"><h4>test</h4></button>
        </div>
        <div id="writing-next" class="row" style="display: none;">
            <button class="d-flex align-items-end flex-column"><h4>next</h4></button>
        </div>
    </div>
</div>
<div id="result" class="page card container container-table" style="display: none;">
    <div class="card-body">
        <h6 class="card-title">flashcards:</h6>
        <div id="result-table-row" class="row table-container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="width: 25%">Word</th>
                    <th scope="col" style="width: 42%">Translation</th>
                    <th scope="col" style="width: 25%">Dictionary</th>
                    <th scope="col" style="width: 8%; white-space: nowrap;">Status, %</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>